body{
    background-image: url(../img/linguagens.jpg);
    background-size: cover;
}

.login-style input{
    text-align: center;
    
}
.container .caixa1_login {
    background-image: url(https://i.pinimg.com/originals/ce/69/4f/ce694f560636dffcf42ecf40d4f2f962.gif);
    background-position: center;
    border-radius: 5%;
    background-size: cover;
    width: 30%;
    margin-left: 35%;
    margin-top: 10%;
    height: 400px;
}

.caixa1_login {
    color: white;
    font-size: 20px;
    text-align: center;
    }
    
.entrada1{
    margin-bottom: 0;
    margin-right: 6%;
    
}
.entrada2{
    margin-bottom: 0;
}